{% extends "base.html" %} 
{% block title %}Add Employee{% endblock %} 
{% block body %}
{% include 'navbar.html' %}
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Add New employee</h4>
    
        <form method="POST">
        
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input
              name="name"
              class="form-control"
              placeholder="Full name"
              type="text"
            />
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input
              name="age"
              class="form-control"
              placeholder="Age"
              type="number"
            />
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <select name="dept">
                <option value="Marketing">Marketing</option>
                <option value="IT and Engineering">IT and Engineering</option>
                <option value="Human Resource">Human Resource</option>
                <option value="Business Development">Business Development</option>
            </select>
            
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input
              name="address"
              class="form-control"
              placeholder="Address"
              type="text"
            />
          </div>
    
          <!-- <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+971</option>
                    <option value="1">+972</option>
                    <option value="2">+198</option>
                    <option value="3">+701</option>
                </select>
                <input name="" class="form-control" placeholder="Phone number" type="text">
            </div>  -->
          <!-- <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                </div>
                <select class="form-control">
                    <option selected=""> Select job type</option>
                    <option>Designer</option>
                    <option>Manager</option>
                    <option>Accaunting</option>
                </select>
            </div>  -->
         
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Create Account
            </button>
          </div>
        </form>
      </article>
    </div>
    {% endblock %}
    