{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/homepage.css">

{% include 'navbar.html' %}

<div class="card bg-light">

    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                    <th><span>Employee Name</span></th>
                                    <th><span>Address</span></th>
                                    <th class="text-center"><span>Department</span></th>
                                    <th><span>Age</span></th>
                                    <th><span>Hired Date</span></th>
                                    <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for user in users %}
                                    
                                    <tr>
                                        <td>
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                            <a href="#" class="user-link">{{ user[1] }}</a>
                                            <span class="user-subhead">Employee</span>
                                        </td>
                                        <td>{{ user[4] }}</td>
                                        <td class="text-center">
                                            <span class="label label-default">{{ user[3] }}</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">{{ user[2] }}</span>
                                        </td>
                                        <td>
                                            <a href="#">{{ user[5] }}</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </article>
    </div> <!-- card.// -->
{% endblock %}