{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Login</h4>
       
        <form method="POST">
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="username" class="form-control" placeholder="username" type="text">
        </div> <!-- form-group// -->
       
        
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="password" placeholder="password" type="password">
        </div> <!-- form-group// -->
                                           
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Don't have an account? <a href="/register">Register</a> </p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->
{% endblock %}