{% extends "base.html" %} {% block title %}Register{% endblock %} {% block body
%}
<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>

    <form method="POST">
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }} </p>
        {% endif %}

        {% if message %}
        <p ><strong></strong> {{ message }} </p>
        {% endif %}

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input
          name="name"
          class="form-control"
          placeholder="Full name"
          type="text"
        />
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input
          name="username"
          class="form-control"
          placeholder="Username"
          type="text"
        />
      </div>

      <!-- <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;">
                <option selected="">+971</option>
                <option value="1">+972</option>
                <option value="2">+198</option>
                <option value="3">+701</option>
            </select>
            <input name="" class="form-control" placeholder="Phone number" type="text">
        </div>  -->
      <!-- <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control">
                <option selected=""> Select job type</option>
                <option>Designer</option>
                <option>Manager</option>
                <option>Accaunting</option>
            </select>
        </div>  -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input
          class="form-control"
          name="password"
          placeholder="Create password"
          type="password"
        />
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input
          class="form-control"
          name="confirm_password"
          placeholder="Confirm password"
          type="password"
        />
      </div>
      <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Create Account
        </button>
      </div>
      <!-- form-group// -->
      <p class="text-center">Have an account? <a href="/">Log In</a></p>
    </form>
  </article>
</div>
<!-- card.// -->
{% endblock %}
